*{
    margin: 0%;
}

body{
    height: 100vh;
    background-color: rgb(111, 114, 113);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    overflow-x: hidden;
}

nav{
    height: 5rem;
    width: 60vw;
    background-color: #3b3b3b;
    color: whitesmoke;
    border-radius: 0 20px;
    padding: 1rem;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card{
    height: auto;
    width: 60vw;
    background-color: rgb(245, 245, 245);
    border: 2px double rgb(255, 255, 255);
    border-radius: 15px;
    padding: 1rem;
    cursor: pointer;    
    .link{
        float: right;
        font-size: 40px;
    }
}

.fade-in{
    animation: fadeIn 2s ease;
}
@keyframes fadeIn{
    0%
    {
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 950px) {
    nav{
        width: 80vw;
    }
    .card{
        height: auto;
        width: 80vw;
    }
}