*{
    margin: 0%;
}

body{
    height: 100vh;
    background-color: rgb(104, 47, 168);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    overflow-x: hidden;
}

nav{
    height: 5rem;
    width: 60vw;
    background-color: rgb(47, 26, 107);
    color: whitesmoke;
    border-radius: 0 20px;
    padding: 1rem;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card{
    height: auto;
    width: 60vw;
    background-color: rgb(47, 26, 107);
    border: 2px double rgb(12, 12, 12);
    border-radius: 15px;
    padding: 1rem;
    color: whitesmoke;
    cursor: pointer;    
    transition: all 0.5s ease;
    ul{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-family: sans-serif;
    }
    .link{
        float: right;
        font-size: 40px;
    }
}

.card:hover{
    transform: translateY(-5px) scale(1.01);
    box-shadow: 1px 2px 9px rgb(134, 134, 134);
}

.fade-in{
    animation: fadeIn 2s ease;
}
@keyframes fadeIn{
    0%
    {
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 950px) {
    nav{
        width: 80vw;
        min-height: 10vh;
    }
    .card{
        height: auto;
        width: 80vw;
    }
}