*{
    margin: 0%;
}

body{
    height: 100vh;
    width: auto;
    background-color: black;
}

nav{
    height: 5rem;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        border: 2px solid #f2f2f2;
        padding: 1rem;
        font-size: larger;
        color: whitesmoke;
        border-radius: 10px;
    }
}

#container{
    display: flex;
    gap: 1rem;
    height: 85vh;
    margin-top: 1rem;

    #input-area{
        height: 80vh;
        width: 50%;
        background-color: antiquewhite;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    
    #output-area{
        height: 80vh;
        width: 50%;
        background-color: aquamarine;
        padding: 2rem;
    }
}