*{
    margin: 0%;
}

body{
    height: 100vh;
    width: auto;
    background-color: black;
}

nav{
    height: 5rem;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        border: 2px solid #f2f2f2;
        padding: 1rem;
        font-size: larger;
        color: whitesmoke;
        border-radius: 10px;
    }
}

#container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    p{
        color: whitesmoke;
        font-size: x-large;
    }
    #colors{
        display: flex;
        gap: 1rem;
        div{
            height: 10rem;
            width: 10rem;
            border: 2px double rgb(255, 27, 27);
        }
    }
}

#btnContainer{
    display: flex;
    justify-content: center;
    height: 3rem;
    button{
        font-size: large;
        border-radius: 10px;
        outline: none;
        bottom: none;
        background: linear-gradient(90deg, rgb(255, 238, 238), rgb(69, 2, 255));
    }
}

@media screen and (max-width: 450px) {
    #container{
        height: 100vh;
    }
    #colors{
        flex-direction: column;
    }
}

.color1{
    background-color: aqua;
}
.color2{
    background-color: rgb(252, 209, 20);
}
.color3{
    background-color: rgb(147, 15, 255);
}
.color4{
    background-color: rgb(250, 139, 75);
}
.clrblack{
    background-color: black;
}